@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap&subset=latin-ext");
@-webkit-keyframes startAnimationLogo {
  0% {
    opacity: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50%;
  }
  20% {
    opacity: 1;
  }
  80% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50%;
  }
  100% {
    top: 5px;
    left: 5px;
    width: 25%;
  }
}
@keyframes startAnimationLogo {
  0% {
    opacity: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50%;
  }
  20% {
    opacity: 1;
  }
  80% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50%;
  }
  100% {
    top: 5px;
    left: 5px;
    width: 25%;
  }
}

@-webkit-keyframes startAnimationTheme {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: -100%;
  }
}

@keyframes startAnimationTheme {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: -100%;
  }
}

@-webkit-keyframes startAnimationBackground {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes startAnimationBackground {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes startAnimationNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes startAnimationNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes footerCenterMove {
  0% {
    left: 50%;
  }
  100% {
    left: 5%;
  }
}

@keyframes footerCenterMove {
  0% {
    left: 50%;
  }
  100% {
    left: 5%;
  }
}

@-webkit-keyframes footerLeftMove {
  0% {
    left: 50%;
  }
  50% {
    left: 10%;
  }
  100% {
    left: 0;
  }
}

@keyframes footerLeftMove {
  0% {
    left: 50%;
  }
  50% {
    left: 10%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes backButtonMove {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backButtonMove {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', arial, sans-serif;
}

.wrapper {
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  border-radius: 20px;
  margin-top: 25px;
  overflow: hidden;
}

.page--grow {
  -ms-flex-preferred-size: 50vh;
      flex-basis: 50vh;
}

.page--expanse {
  min-height: 100vh;
  border-radius: 20px;
  margin-top: 25px;
  overflow: hidden;
}

.header {
  position: relative;
  height: 100vh;
  margin-top: 0;
}

.header::after {
  position: absolute;
  content: "";
  background-image: url(/img/header-image/wiata-drewniana-1.jpg);
  opacity: 0.75;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-animation: startAnimationBackground 5s 1 both;
          animation: startAnimationBackground 5s 1 both;
}

.header__logo {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25%;
  border-radius: 20px;
  -webkit-animation: startAnimationLogo 5s 1 both;
          animation: startAnimationLogo 5s 1 both;
}

.header__idea {
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__theme {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  font-size: 40px;
  opacity: 0;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__menu-item {
  position: relative;
  display: block;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  height: 50%;
  text-align: center;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: startAnimationNav 1s 4.5s 1 both;
          animation: startAnimationNav 1s 4.5s 1 both;
}

.header__link {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 35px;
  z-index: 1;
  letter-spacing: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__link:hover {
  color: red;
}

.header__effect-div {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 450px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity 0.2s, width 0.2s, background-position 0.4s;
  transition: opacity 0.2s, width 0.2s, background-position 0.4s;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.left {
  top: 10%;
  left: 40%;
  background-image: url(/img/header-image/div1.jpg);
}

.center {
  background-image: url(/img/header-image/div3.jpg);
}

.right {
  top: -10%;
  left: 60%;
  background-image: url(/img/header-image/div2.jpg);
}

.first {
  -webkit-animation: startAnimationTheme 3s 0.5s 1 both;
          animation: startAnimationTheme 3s 0.5s 1 both;
}

.second {
  -webkit-animation: startAnimationTheme 3s 1s 1 both;
          animation: startAnimationTheme 3s 1s 1 both;
}

.third {
  -webkit-animation: startAnimationTheme 3s 1.5s 1 both;
          animation: startAnimationTheme 3s 1.5s 1 both;
}

.main {
  position: relative;
  background-color: lightgray;
  height: 100vh;
}

.main__title-element {
  margin: 5px 0 0 5px;
  background-color: white;
  width: 20%;
  border-radius: 20px;
  text-align: center;
}

.main__history {
  position: absolute;
  top: 100px;
  left: 20px;
  width: 200px;
  height: 350px;
  background-color: red;
  border-radius: 20px;
  padding: 10px;
}

.main__history-text {
  color: white;
  font-size: 18px;
}

.main__theme {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 300px;
  height: 300px;
}

.main__motto-element {
  font-size: 20px;
  text-align: center;
}

.main__motto {
  font-size: 35px;
  text-align: center;
  background-color: grey;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  font-style: italic;
}

.main__image-section {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 400px;
  height: 400px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main__image {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.main__article {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 15px;
  border-radius: 20px;
}

.main__article--first {
  top: -45%;
  left: -50%;
  width: 400px;
  height: 150px;
  z-index: 4;
}

.main__article--second {
  top: 50%;
  left: -60%;
  width: 300px;
  height: 190px;
  z-index: 4;
}

.main__article--third {
  top: 48%;
  left: 85%;
  width: 300px;
  height: 170px;
  z-index: 4;
}

.main__des-title {
  margin-bottom: 10px;
}

.main__order {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  height: 100px;
  background-color: darkgrey;
  border-radius: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__order-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  text-align: center;
}

.main__icon {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  font-size: 40px;
}

.main__order-name {
  font-size: 14px;
}

.quality {
  background-image: url(/img/main-image/details.jpg);
  top: 0;
  left: 70%;
  width: 350px;
  height: 350px;
  z-index: 1;
}

.project {
  background-image: url(/img/main-image/projects.jpg);
  top: 40%;
  left: 25%;
  width: 250px;
  height: 250px;
  z-index: 2;
}

.materials {
  background-image: url(/img/main-image/materials.jpg);
  top: 65%;
  left: 65%;
  width: 200px;
  height: 200px;
  z-index: 0;
}

.section {
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section__title-element {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 5px 10px;
  margin: 5px;
  color: white;
  text-align: center;
}

.section__title {
  width: 25%;
  background-color: red;
  border-radius: 20px;
  line-height: 40px;
}

.section__realization {
  position: relative;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  margin: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.section__realization:nth-of-type(1) {
  background-image: url(/img/gallery-image/r1/1.jpg);
}

.section__realization:nth-of-type(2) {
  background-image: url(/img/gallery-image/r2/4.jpg);
}

.section__realization:nth-of-type(3) {
  background-image: url(/img/gallery-image/r3/1.jpg);
}

.section__realization:nth-of-type(4) {
  background-image: url(/img/gallery-image/r4/1.jpg);
}

.section__realization:nth-of-type(5) {
  background-image: url(/img/gallery-image/r5/1.jpg);
}

.section__realization:nth-of-type(6) {
  background-image: url(/img/gallery-image/r6/1.jpg);
}

.section__realization:nth-of-type(7) {
  background-image: url(/img/gallery-image/r7/1.jpg);
}

.section__realization:nth-of-type(8) {
  background-image: url(/img/gallery-image/r8/1.jpg);
}

.section__realization:nth-of-type(9) {
  background-image: url(/img/gallery-image/r9/3.jpg);
}

.section__realization:nth-of-type(10) {
  background-image: url(/img/gallery-image/r10/1.jpg);
}

.section__realization:nth-of-type(11) {
  background-image: url(/img/gallery-image/r11/1.jpg);
}

.section__realization:nth-of-type(12) {
  background-image: url(/img/gallery-image/r12/3.jpg);
}

.section__realization:nth-of-type(13) {
  background-image: url(/img/gallery-image/r13/1.jpg);
}

.section__realization:nth-of-type(14) {
  background-image: url(/img/gallery-image/r14/1.jpg);
}

.section__realization:nth-of-type(15) {
  background-image: url(/img/gallery-image/r15/1.jpg);
}

.footer {
  position: relative;
}

.footer__social {
  position: absolute;
  top: 0;
  left: 0;
  background-color: darkslategrey;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  z-index: 1;
  -webkit-animation: footerLeftMove 0.5s 0.25s 1 both;
          animation: footerLeftMove 0.5s 0.25s 1 both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  height: 100%;
}

.footer__icon {
  font-size: 40px;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__icon:hover {
  font-size: 43px;
}

.footer__form {
  position: absolute;
  top: 0;
  left: 5%;
  height: 100%;
  width: 95%;
  padding: 10px;
  background-color: black;
  border-radius: 20px;
  z-index: 2;
  -webkit-animation: footerCenterMove 0.5s 1 both;
          animation: footerCenterMove 0.5s 1 both;
}

.footer__form-container {
  width: 40%;
  height: 100%;
  color: white;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__form-element {
  justify-self: flex-end;
}

.footer__input {
  margin-bottom: 10px;
  width: 100%;
  height: 20px;
  padding: 0 5px;
  border-radius: 10px;
  border-style: none;
}

.footer__label {
  font-size: 16px;
}

.footer__textarea {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  padding: 5px;
}

.footer__button {
  margin-top: 25px;
  width: 100%;
  border: 2px solid red;
  line-height: 25px;
  background-color: red;
  color: black;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__button:hover {
  background-color: white;
}

.footer__map {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  padding: 10px;
  background-color: red;
  border-radius: 20px;
  z-index: 3;
}

.footer__title {
  margin-bottom: 10px;
  color: white;
}

.footer__des {
  font-weight: 700;
}

.footer__map-container {
  position: absolute;
  bottom: 10px;
  right: 5%;
  width: 90%;
  height: 55%;
  border-radius: 20px;
  background-color: #fff;
}

.back-button {
  position: fixed;
  bottom: 10px;
  right: 30px;
  width: 65px;
  height: 65px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid darkslategray;
  z-index: 5;
  text-align: center;
  cursor: pointer;
  -webkit-animation: backButtonMove 5s 1 both;
          animation: backButtonMove 5s 1 both;
}

.back-button__icon {
  font-size: 50px;
  margin: 3px 0 3px;
  color: darkslategray;
}

#lightbox {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lightbox__container {
  position: relative;
  background-image: url(/img/gallery-image/r1/1.jpg);
  height: 80%;
  width: 80%;
  background-size: cover;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.lightbox__left-arrow,
.lightbox__right-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: grey;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 35px;
  color: black;
  cursor: pointer;
}

.lightbox__right-arrow {
  left: 100%;
}

.lightbox__exit-button {
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */