@keyframes startAnimationLogo {
    0% {
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }

    20% {
        opacity: 1;
    }

    80% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }

    100% {
        top: 5px;
        left: 5px;
        width: 25%;
    }
}

@keyframes startAnimationTheme {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        left: -100%;
    }
}

@keyframes startAnimationBackground {
    0% {
        opacity: 0
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes startAnimationNav {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes footerCenterMove {
    0% {
        left: 50%;
    }

    100% {
        left: 10%;
    }
}

@keyframes footerLeftMove {
    0% {
        left: 50%;
    }

    50% {
        left: 10%;
    }

    100% {
        left: 0;
    }
}