.back-button {
    position: fixed;
    bottom: 10px;
    right: 30px;
    width: 65px;
    height: 65px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid darkslategray;
    z-index: 5;
    text-align: center;
    cursor: pointer;

    animation: backButtonMove 5s 1 both;

    &__icon {
        font-size: 50px;
        margin: 3px 0 3px;
        color: darkslategray;
    }
}