.footer {
    position: relative;

    &__social {
        position: absolute;
        top: 0;
        left: 0;
        background-color: darkslategrey;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        z-index: 1;

        animation: footerLeftMove 0.5s 0.25s 1 both;

        &>i {
            font-size: 50px;
        }
    }

    &__form {
        position: absolute;
        top: 0;
        left: 10%;
        height: 100%;
        width: 90%;
        background-color: black;
        border-radius: 20px;
        z-index: 2;

        animation: footerCenterMove 0.5s 1 both;
    }

    &__map {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 50%;
        background-color: red;
        border-radius: 20px;
        z-index: 3;
    }
}