.main {
    position: relative;
    background-color: lightgray;

    &__title-element {
        margin: 5px 0 0 5px;
        background-color: white;
        width: 20%;
        border-radius: 20px;
        text-align: center;
    }

    &__history {
        position: absolute;
        @include positionParam (100px, 20px, 200px, 350px);
        background-color: red;
        border-radius: 20px;
        padding: 10px;
    }

    &__history-text {
        color: white;
        font-size: 18px;
    }

    &__theme {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 300px;
        height: 300px;
    }

    &__motto-element {
        font-size: 20px;
        text-align: center;
    }

    &__motto {
        font-size: 35px;
        text-align: center;
        background-color: grey;
        margin: 5px;
        padding: 10px;
        border-radius: 20px;
        font-style: italic;
    }

    &__image-section {
        position: absolute;
        @include positionParam (55%, 50%, 400px, 400px);
        transform: translate(-50%, -50%);
    }

    &__image {
        position: absolute;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        @include bgParam (no-repeat, 50% 50%, cover);
    }

    &__article {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 10px 15px;
        border-radius: 20px;

        &--first {
            @include positionParam (-45%, -50%, 400px, 150px);
            z-index: 4;
        }

        &--second {
            @include positionParam (50%, -60%, 300px, 190px);
            z-index: 4;
        }

        &--third {
            @include positionParam (48%, 85%, 300px, 170px);
            z-index: 4;
        }
    }

    &__des-title {
        margin-bottom: 10px;
    }

    &__order {
        position: absolute;
        bottom: 5px;
        left: 5px;
        right: 5px;
        height: 100px;
        background-color: darkgrey;
        border-radius: 20px;
        padding: 10px;

        display: flex;
        justify-content: center;
    }

    &__order-part {
        display: flex;
        flex-direction: column;
        flex-basis: 15%;

        text-align: center;
    }

    &__icon {
        flex-basis: 80%;
        font-size: 40px;
    }

    &__order-name {
        font-size: 14px;
    }
}

.quality {
    background-image: url(/img/main-image/details.jpg);
    @include positionParam (0, 70%, 350px, 350px);
    z-index: 1;
}

.project {
    background-image: url(/img/main-image/projects.jpg);
    @include positionParam (40%, 25%, 250px, 250px);
    z-index: 2;
}

.materials {
    background-image: url(/img/main-image/materials.jpg);
    @include positionParam (65%, 65%, 200px, 200px);
    z-index: 0;
}