//Mixin with all need breakpoints (in SCSS file I used some another breakpoints).

@mixin mq ($breakpoint) {
    $size: map-get($breakpoints, $breakpoint);

    @if($size) {
        @media #{$size} {
            @content;
        }
    }

    @else {
        @error '"#{$breakpoint}" - nie ma takiej wielkości'
    }
}

;

// Background image param settings 

@mixin bgParam ($repeat, $position, $size) {
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
}

// Position setting

@mixin positionParam ($top, $left, $width, $height) {
    top: $top;
    left: $left;
    width: $width;
    height: $height;
}